-# Partial template
-for field in form
  -if field.name != "generator_name" and field.name != "nb_question"
    .form-group
      =field.label_tag
      =field

.submit-row
  %label
    &nbsp
  %input.btn.btn-primary.btn-block.center{type: "submit", value: "Créer", id: "id_generate_button"}

