-extends "base.haml"
-block content
  .panel.panel-default{"id": "id_generated_questions_page"}
    .panel-heading Questions générées
    .panel-body
      -if test_exercice.exercice.context
        .well
          =test_exercice.exercice.context|safe
      %h2 Choissisez les questions que vous voulez garder
      -for question in questions
        .panel.panel-success
          .panel-heading
            Question généré
          .panel-body
            -if question.description
              .well.question-description
                =question.description|safe
            -if question.source
              %p
                %b Source(s) :
              .well.questions-source
                =question.source|safe
            -with answer=question.get_answer
              -include "professor/exercice/exercice_with_answers_rendering.haml"
            -#%button.btn-primary{type: "submit", onclick: "submitQuestion()"}
              Choisir cet exercice
          %form{method: "POST", action: "submit/", enctype: 'application/json'}
            -csrf_token
            %input{type: "hidden", name: "question_description", value: "{{question.description}}"}
            %input{type: "hidden", name: "question_source", value: "{{question.source}}"}
            %input{type: "hidden", name: "question_answer", value: "{{question.answer}}"}
            %button.btn-primary{type: "submit"}
              Choisir cet exercice


      %h3
        Revenir au test
        .panel-body
        %form{method: "GET", action: ""}
          -csrf_token
          %button.bg-primary{type: "submit"}
            Revenir au test

-block javascript
  :javascript

    $(function() {
      $('form').submit(function(){
        var form = $(this)
        $.ajax({
          type: 'post',
          url: 'submit/',
          data: $(this).serialize(),
          success: function (data) {
            console.log(data.msg);
            form.hide()
          }
        });
        return false;
      });
      {% for exercice in test_exercice.skill.exercice_set.all %}
      {% for _, question in exercice.get_questions.items %}
      {% if question.type == "graph" %}
      new Graph('graph-' + {{ forloop.counter0 }})
      {% endif %}
      {% endfor %}
      {% endfor %}
    });

