-extends "base.haml"
-block content
  .panel.panel-default{"id": "id_generated_questions_page"}
    .panel-heading Questions générées
    .panel-body
      -if new_test_exercise.exercice.context
        .well
          =new_test_exercise.exercice.context|safe
      %h2 Choisissez les questions que vous voulez garder
      -for question in questions
        .panel.panel-success
          .panel-heading
            Question générée
          .panel-body
            -if question.description
              .well.question-description
                =question.description|safe
            -if question.source
              %p
                %b Source(s) :
              .well.questions-source
                =question.source|safe
            -with answer=question.get_answer
              -include "professor/exercice/exercice_with_answers_rendering.haml"

          %form{method: "POST", enctype: 'application/json'}
            -csrf_token
            %input{type: "hidden", name: "question_description", value: "{{question.description}}"}
            %input{type: "hidden", name: "question_source", value: "{{question.source}}"}
            %input{type: "hidden", name: "question_answer", value: "{{question.answer}}"}
            %input{type: "hidden", name: "exercise_id", value: "{{ new_test_exercise.id }}"}
            .text-center
              %button.btn.btn-primary.btn-block{type: "submit"}
                Choisir cet exercice


      %h3
        Revenir au test
        .panel-body
          %a.btn.btn-primary{href: "{% url 'professor:lesson_test_online_exercices' lesson_id test_id %}", id:"return-to-test-modify"}
            Revenir au test
-block javascript
  :javascript

    $(function() {

      $('form').submit(function(){
        var form = $(this)
        $.ajax({
          type: 'post',
          url: 'submit/',
          data: $(this).serialize(),
          success: function (data) {
            console.log(data.msg);
            form.hide()
          }
        });
        return false;
      });

      {% for exercice in new_test_exercise.skill.exercice_set.all %}
        {% for _, question in exercice.get_questions.items %}
          {% if question.type == "graph" %}
            new Graph('graph-' + {{ forloop.counter0 }})
          {% endif %}
        {% endfor %}
      {% endfor %}
    });

