-extends "base.haml"

-block content
  .panel.panel-default
    .panel-heading Questions générées

    .panel-body
      %h2 Choissisez les questions que vous voulez garder
      -for o in questions
        .question{:class => "checkbox"}
          %label
            %input{:type => "checkbox", :value => "IDHERE"}
            =o
