-extends "base.haml"

-block content
  .panel.panel-default
    .panel-heading Questions générées

    .panel-body
      .left.column
        %h2 liste des questions
        -for o in questions
          .div
            =o