-extends "base.haml"

-load bootstrap3

-block content
  .panel.panel-default
    .panel-heading{id: "id_question_generator"} Outil de création de questions
    -if form.errors
      .alert.alert-danger{:id => "id_error_panel"}
        - for field in form
          - if field.errors
            = field.label_tag
            = field.errors

    .panel-body
      .left.column

      -#Subject
      -#.subject_menu
      -#  %select{:name => "subject"}
      -#    %option subject1
      -#    %option subject2
      -#
      -#Assessment type
      -#.assessment_menu{:name => "assessment"}
      -#  %select
      -#    %option assessment1
      -#    %option assessment2
      -#
      -#Compétence
      -#.skill_menu{:skill => "skill"}
      -#  %select
      -#    %option Problème arithmétique

      %form#parameters-form{action: "{{ app_path }}", method: "post", role: "form"}
        -csrf_token

        -for field in form
          =field.label_tag
          =field
          %br/

        -#.submit-row
        -#  %label
        -#    &nbsp
        -#  %input.btn.btn-primary{type: "submit", value: "Choisir", id: "id_generate_button"}
        #container-settings

-block javascript
  :javascript
    function get_form() {
      $.ajax({
          type: 'GET',
          url: $("#id_generator_name").val() + '/',
          cache: false
        }).done(function ( data ) {
           $( "#container-settings" ).html( data );
        });
    }

    $('#id_generator_name').on('change', function(){
        console.log("select change")
        get_form();
      });

    $(function() {
       get_form();
    });
