-extends "base.haml"

-block content

  .left.column
    %h2 Outil de création de questions
    Subject
    .subject_menu
      %select
        %option aljj
        %option vvcfg

  .right.column
    %h2 Gay