#answering
  %form#form1
    Une
    %input#first{:type => "text"}/
    est l'opération d'ajouter un nombre à un autre nombre.
    %br/
    Celle-ci est représentée par un symbole
    = succeed "." do
      %input#second{:type => "text"}/
    %br/
    %br/
    %br/
    Which number is lower than 4 :
    %br/
    %br/
    3
    %input{:type => "checkbox"}/
    %br/
    5
    %input{:type => "checkbox"}/
    %br/
    2
    %input{:type => "checkbox"}/
    %br/
    6
    %input{:type => "checkbox"}/
    %br/
    4
    %input{:type => "checkbox"}/
    %br/
    %br/
    %br/
    4 + 5 est un(e)
    %select
      %option{:value => "Addition"} Addition
      %option{:value => "Soustraction"} Soustraction
      %option{:value => "Multiplication"} Multiplication
      %option{:value => "Soustraction"} Soustraction
  %button{:form => "form1", :type => "submit", :value => "Submit"} Valider la(les) réponses
